@model IEnumerable<Biblioteka.Models.ListaKsiazek>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }

    .my-div {
        margin-bottom: 10px;
    }
</style>


<h3>Lista Książek</h3>

<a asp-action="Dodaj" asp-controller="Ksiazki" class="btn btn-primary">Dodaj Książkę</a>

<table class="table">
    <thead>
        <tr>
            <th>Nr Biblioteczny</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>ISBN</th>
            <th>Kategoria</th>
            <th>Dostępna</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ksiazka in Model)
        {
            <tr>
                <td>@ksiazka.nr_biblioteczny</td>
                <td>@ksiazka.Tytul</td>
                <td>@ksiazka.Autor</td>
                <td>@ksiazka.ISBN</td>
                <td>@ksiazka.Kategoria</td>
                <td>@(ksiazka.Dostepna ? "TAK" : "NIE")</td>
                <td>
                    <a asp-action="Usun" asp-route-id="@ksiazka.Id" class="btn btn-danger">Usuń</a>
                </td>
                <td>
                    <a asp-action="Edytuj" asp-route-id="@ksiazka.Id" class="btn btn-warning">Edytuj</a>
                </td>
            </tr>
        }
    </tbody>
</table>