@model IEnumerable<Biblioteka.Models.KsiazkaPerKlient>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif;
    }

    .my-div {
        margin-bottom: 10px;
    }
</style>

<h3>Lista książek klienta: @ViewBag.KlientImieNazwisko</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id wypożyczenia</th>
            <th>Id klienta</th>
            <th>Id książki</th>
            <th>Nr Biblioteczny</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>ISBN</th>
            <th>Data Wypożyczenia</th>
            <th>Data Zwrotu</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="10" class="text-center">Brak danych do wyświetlenia.</td>
            </tr>
        }
        else
        {
            @foreach (var ksiazka in Model)
            {
                <tr>
                    <td>@ksiazka.Id_Wypozyczenia</td>
                    <td>@ksiazka.Id_Klient</td>
                    <td>@ksiazka.Id_Ksiazka</td>
                    <td>@ksiazka.Nr_Biblioteczny</td>
                    <td>@ksiazka.Tytul</td>
                    <td>@ksiazka.Autor</td>
                    <td>@ksiazka.ISBN</td>
                    <td>@ksiazka.Data_Wypozyczenia?.ToString("yyyy-MM-dd")</td>
                    <td>@ksiazka.Data_Zwrotu?.ToString("yyyy-MM-dd")</td>
                    <td>
                        @if (ksiazka.Data_Zwrotu == null)
                        {
                            <a href="/Ksiazki/Zwroc/@ksiazka.Id_Wypozyczenia" class="btn btn-warning">Zwróć</a>
                        }
                        else
                        {
                            <span class="text-success">Zwrócona</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>