@model IEnumerable<Biblioteka.Models.LsitaKlientow>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }

    .my-div {
        margin-bottom: 10px;
    }
</style>


<h3>Lista Klientów</h3>

<a asp-controller="Klienci" asp-action="Dodaj" class="btn btn-primary">Dodaj</a>

<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Wypożyczone</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var klient in Model)
        {
            <tr>
                <td>@klient.Imie</td>
                <td>@klient.Nazwisko</td>
                <td>@klient.Telefon</td>
                <td>@klient.Email</td>
                <td>@klient.Wypozyczone</td>
                <td>
                    <a asp-action="Usun" asp-route-id="@klient.Id" class="btn btn-danger">Usuń</a>
                </td>
                <td>
                    <a asp-action="Edytuj" asp-route-id="@klient.Id" class="btn btn-warning">Edytuj</a>
                </td>
                <td>
                    <a asp-action="KsiazkiKlienta" asp-route-id="@klient.Id" class="btn btn-info">Pokaż książki</a>
                </td>
            </tr>
        }
    </tbody>
</table>