@model Biblioteka.Models.Ksiazka


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }

    .my-div {
        margin-bottom: 10px;
    }
</style>







<h3>Podsumowanie książki</h3>
<p><strong>Nr Biblioteczny:</strong> @Model.Nr_biblioteczny</p>
<p><strong>Tytuł:</strong> @Model.Tytul</p>
<p><strong>Autor:</strong> @Model.Autor</p>
<p><strong>ISBN:</strong> @Model.ISBN</p>
<p><strong>Dostępność:</strong> @(Model.Dostepna ? "Dostępna" : "Niedostępna")</p>

<!-- Formularz wyszukiwania klienta -->
<h3>Wyszukaj klienta</h3>
<form asp-action="SzukajKlienta" method="post">
    <!-- Przechowywanie identyfikatora książki -->
    <input type="hidden" name="KsiazkaId" value="@Model.Id" />

    <div class="form-group">
        <label for="Telefon">Telefon:</label>
        <input type="text" id="Telefon" name="Telefon" class="form-control" placeholder="Wprowadź numer telefonu" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Szukaj klienta</button>
</form>

<!-- Wyświetlanie komunikatu, jeśli istnieje -->
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger mt-3">
        @ViewBag.Message
    </div>
}