@model IEnumerable<dynamic>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }

    .my-div {
        margin-bottom: 10px;
    }
</style>








<h3>Wybierz klienta</h3>

@if (!Model.Any())
{
    <p>Nie znaleziono klientów.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var klient in Model)
            {
                <tr>
                    <td>@klient.Imie</td>
                    <td>@klient.Nazwisko</td>
                    <td>@klient.Email</td>
                    <td>@klient.Telefon</td>
                    <td>
                        <form asp-action="Wypozycz" method="post">
                            <input type="hidden" name="KsiazkaId" value="@ViewBag.KsiazkaId" />
                            <input type="hidden" name="KlientId" value="@klient.Id" />


                            <button type="submit" class="btn btn-success">Wypożycz</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}